* {
    padding: 0.5%;
}

#titleh1 {
    background-color: rgb(231, 171, 171);
    color: rgb(71, 6, 6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 1vw;
    text-align: center;
}

.categDiv {
    position: relative;
    max-width: 300px;
    padding: 10px;
    /* Maximum width */
    /* Center it */
}

.categDiv .content {
    position: absolute;
    /* Position the background text */
    bottom: 0;
    /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    color: #f1f1f1;
    /* Grey text */
    width: 97%;
    /* Full width */
    padding: 20px;
    /* Some padding */
}

.flexDiv {
    display: flex;
}


/* The overlay effect - lays on top of the container and over the image */

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 93%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}


/* When you mouse over the container, fade in the overlay title */

.categDiv:hover .overlay {
    opacity: 1;
}

#recipeImgs {
    width: 20vw;
    height: 20vw;
}