* {
    padding: 0.5%;
}

#titleh1 {
    background-color: rgb(231, 171, 171);
    color: rgb(71, 6, 6);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 1vw;
    text-align: center;
}

p {
    font-size: medium;
}

h2,
h3 {
    background-color: rgb(168, 138, 138);
    color: rgb(71, 6, 6);
    border-radius: 1vw;
    text-align: center;
}

h5 {
    background-color: rgb(212, 212, 174);
    color: rgb(71, 6, 6);
    border-radius: 1vw;
    text-align: center;
}

.categDiv {
    position: relative;
    max-width: 30%;
    padding: 1%;
}

.flexDiv {
    display: flex;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 93%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 100%;
    padding: 2%;
    text-align: center;
}

.categDiv:hover .overlay {
    opacity: 1;
}

#recipeImgs {
    width: 20vw;
    height: 20vw;
}

img {
    width: 100%;
}

#recipDiv {
    border: solid black 0.1vw;
    align-items: center;
}